table {
  /* width: 100%; */
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

thead {
  background-color: #f4f4f4;
}

th,
td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

th {
  background-color: #007bff;
  color: white;
}

td div {
  margin-bottom: 5px;
}
